### General ###
*.pptx
*.bat
*.xlsx

### R files ###
.Rhistory
*.RData
*.R
*.Rproj

### LaTeX files ###
*.tex
*.rnw
*.log
*.bbl
*.synctex.gz

### Temporary (for this year) ###
DataSummary.pdf
DataSummaryJS.pdf
ModelSummary*.pdf
Document/

### Miscelaneous ###
.Rproj.user

