### General ###
*.pptx
*.xlsx
*.zip
*.7z

### R files ###
.Rhistory
*.RData
*.Rproj

### LaTeX files ###
*.aux
*.log
*.bbl
*.out
*.synctex.gz

### Temporary (for this year) ###
DataSummary.pdf
DataSummaryJS.pdf
ModelSummary*.pdf
DataSummary.tex
TempImages

### Omit this year until PDFs are final
2023/

## Temp files ###
DataSummary-concordance.tex

### Miscelaneous ###
.Rproj.user
DataSummary.A10.*.pdf
