### General ###
*.pptx
*.bat
*.xlsx
*.zip
*.7z

### R files ###
.Rhistory
*.RData
*.Rproj

### LaTeX files ###
*.log
*.bbl
*.out
*.synctex.gz

### Temporary (for this year) ###
DataSummary.pdf
DataSummaryJS.pdf
ModelSummary*.pdf

### Miscelaneous ###
.Rproj.user
